<nav>

    <a class="btn btn-outline-light" href="/">Home</a>
    <a class="btn btn-outline-light" href="{{ path('invitations') }}">Invitations</a>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a class="btn btn-outline-light" href="/logout">Logout</a>
        <div class="float-right small">you are {{ app.user.username }}</div>
    {% else %}
        <a class="btn btn-outline-light" href="/login">Login</a>
        <a class="btn btn-outline-light" href="/register">Register</a>
    {% endif %}

</nav>